html {
    font-family: "Sarabun", sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  
  .header {
    width: 100%;
    max-width: 1200px;
    background: #92AABD;
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  .content-box, .content-box2 {
    width: 90%;
    max-width: 600px;
    background: #ebf2f7;
    border: 3px solid #183B56;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
  }
  
  .content-title, .content-title2 {
    font-size: 24px;
    color: #326386;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .content-img, .content-img2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .content-img img, .content-img2 img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .content-description, .content-description2 {
    font-size: 16px;
    color: #183B56;
    text-align: justify;
  }  